 <%- include('../partials/uptoHead')%>
   <ul>
     <% allEntries.forEach((home)=>{  %>
         <li>
              <%= home.propertyname %>
         </li>
   <%  });     %>
   </ul>


  <%- include('../partials/endOfBody')%>